.center_page {
    margin: 0 auto;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 80px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    align-items: center;
    align-self: center;
    justify-items: center;
    justify-content: center;
}

.grid-container_detail {
    display: grid;
    grid-template-columns: auto;
    padding: 80px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    align-items: center;
    align-self: center;
    justify-items: center;
    justify-content: center;
}

.grid-item {
    padding: 40px;
    font-size: 60px;
    text-align: center;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #282c37b3;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 1rem;
}

.dropdown-toggle-browse::after {
    content: none;
}

.dropdown_menu_color {
    font-size: 20px;
    color: black;
}