{% extends "html/base.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block title %}About Me{% endblock %}
</head>
<body>
{% block content %}
    <div>
        <p class = times_info >A little about me.... </p>

    </div>
    <div>
        <p>Find my resume here..</p>
        <a class="times_info" style="text-align: center"
           href={% static 'documents/Ethan_Armbruster_Resume.pdf' %} download>
            <p>Download a PDF version here</p>
        </a>
    </div>
{% endblock %}
</body>
</html>