{% extends "html/base.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block title %}About Me{% endblock %}
</head>
{% block content %}
    <div>
        <div>
            <br><br><br>
            <h1 class=times_info> A little about me.... </h1>

        </div>
        <div>
            <p class="times_info">Find my resume here..</p>
            <a class="times_info" style="text-align: center"
               href={% static 'documents/Ethan_Armbruster_Resume.pdf' %} download>
                <p class="times_info">Download a PDF version here</p>
            </a>
        </div>
    </div>
{% endblock %}
</html>