{% extends "html/base.html" %}
<!DOCTYPE html>
{% load static %}
{% load tz %}
<html lang="en">
<link rel="shortcut icon" type="images/ico" href="{% static "images/favicon.ico" %}"/>


{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <br><br>
    <h1 class="times" style="font-size: 40px">{{ post.title }}</h1>
    <div><progress class="post-progress" value=""></progress></div>
    <br><br><br><br><br><br><br>
    <div class="navbar-center "style="width: 20%; -webkit-align-content: center">
        <p class="date">
            Published {{ post.publish|timezone:"America/New_York"  }} by {{ post.author.first_name }} {{ post.author.last_name }}
        </p>
        <p class="times_info">
            {{ post.body|safe|linebreaksbr }}
        </p>

    </div>
{% endblock %}
