{% extends "html/base.html" %}
<!DOCTYPE html>
{% load static %}
{% load tz %}
<html lang="en">
<link rel="shortcut icon" type="images/ico" href="{% static "images/favicon.ico" %}"/>


{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div class="detail_post_header">
        <h1 class="times ">{{ post.title }}</h1>
        <p class="date ">
            Published {{ post.publish|timezone:"America/New_York" }}
            by {{ post.author.first_name }} {{ post.author.last_name }}
        </p>
    </div>
    <div class="center_page times_info">
        {{ post.body|safe|linebreaksbr }}
    </div>
{% endblock %}
