{% extends "html/base.html" %}
{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="en">
<link href="{% static "css/home.css" %}" rel="stylesheet">
<link rel="shortcut icon" type="images/ico" href="{% static "images/favicon.ico" %}"/>


{% block title %}Blog Posts{% endblock %}
{% block content %}
    <h1 class="times header" >General Posts</h1>
    <div class="grid-container">
        {% for post in posts %}
            <div class="grid-item border-0 frame shadow secondary-theme card">
                <h2>
                    <a class="times" style="color:cadetblue;" href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </h2>
                <p class="date">
                    Published {{ post.publish|timezone:"America/New_York" }}
                    by {{ post.author.first_name }} {{ post.author.last_name }}
                </p>
                <div>
                    <p class="times_info">
                        {{ post.body|truncatewords:30 }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

<div class="sidebar_blog">
    <div>
        <h2 class="times">My New Blog</h2>
        <p>This is my new blog, new updates will come soon.</p>
    </div>

</div>