{% extends "html/base.html" %}
{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="en">

{% block title %}Blog Posts{% endblock %}
{% block content %}
    <h1 class="times header"><span>General Posts</span></h1>
    <div id="blog_post_grid" class="grid-container">
        {% for post in posts %}

            <div id="indiv_post_card" class=" grid-item border-0 frame shadow secondary-theme card">
                <h2>
                    <a class="times post_title_color" href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </h2>
                <p class="date">
                    Published {{ post.publish|timezone:"America/New_York" }}
                    by {{ post.author.first_name }} {{ post.author.last_name }}
                </p>
                <div class="times_info">
                        {{ post.body|striptags|truncatewords:30 }}

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

<div class="sidebar_blog">
    <div>
        <h2 class="times">My New Blog</h2>
        <p>This is my new blog, new updates will come soon.</p>
    </div>


</div>




